rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{user_id} {
      allow read, create: if request.auth != null;
      allow update: if request.auth.uid == user_id;
    }
    match /calls/{calls_id} {
      allow read, create, update, delete: if request.auth != null;
    }
  }
}
