.online-user {
  display: inline-block;
  margin-right: 10px;
  width: 12px;
  height: 12px;
  background: #0ebb50;
  border-radius: 50%;
  margin-top: 2px;
}

.users-comp .user-userpanel {
  border-bottom: 1px solid rgb(185, 180, 180);
}

.users-comp {
  list-style: none;
  text-align: left;
  padding: 0.5rem;
  background-color: #f2eecb;
  width: 100%;
  max-width: 360;
}

.users-comp-btn {
  text-align: left;
  color: black;
  padding: 2px;
  background-color: #f2eecb;
}

.users-comp-btn:hover {
  color: black;
  padding: 2px;
  background-color: #d4d1b6;
}
/* 
.users-comp li {
} */
