.home-1 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 80px 50px;
  padding-top: 180px;
}

.home-left span {
  color: rgb(16, 0, 109);
  font-weight: bold;
  font-size: larger;
  text-decoration: underline;
}

.home-1 a {
  text-decoration: none;
}

.home-1 h3 {
  color: rgb(46, 46, 46);
}

.home-right img {
  width: 400px;
}

.home-2 {
  margin-top: 0;
  padding-top: 80px;
  padding-bottom: 60px;
  display: flex;
  line-height: 3em;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.home-left ul li {
  list-style: none;
  font-size: large;
  font-weight: 500;
}

.home-2 img {
  width: 300px;
}
