.login-form {
  max-width: 360px;
  margin: 60px auto;
  padding: 20px;
}

.login-form label {
  display: block;
  margin: 8px auto;
}

.login-form span {
  display: block;
  margin-bottom: 6px;
}

.login-form input {
  padding: 8px 6px;
  font-size: 1em;
  color: #704a4a;
  width: 100%;
}

.textarea {
  border: none;
  overflow: auto;
  outline: none;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  font-size: 17px;
  font-family: "Poppins";
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}
